.Titulo{

    text-align: center;
    background-color: blue;
    Color: white; /*Color de texto*/
}

.arrelo_js
{
    text-align: left;
    background-color: green;
    Color: white; /*Color de texto*/

}

#tipo{
    text-align: center;
    color: white;
    background-color: chocolate;
}

.parrofo{
    font-size: 2em;
    color: green;
    text-align: justify;
}